body{
    margin: 20px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   

}
img{
    width: 200px;
    height: 170px;
    border-radius: 0px;
}
.card{
    
    padding: 20px;
    display: flex;
    justify-content: space-around;
   
   margin: 0 auto;
    background-color:#ddebf8 ;
    color: black;
    border-bottom: 6px solid rgb(233, 226, 218);
}
.border-blue{
    border: 1px dotted blue;
}
